<body>

 <h1>Books</h1>



 <% @books.each do |book|%>

 <table>

  <p>Title</p>

  <span><%= book.title %></span>

  <%end%>

  <% @books.each do |book|%>

  <p>Body</p>

  <span><%= book.body %></span>

  <%end%>

 </table>



 <%= form_with model:Book.new do|f|%>

 <h2>New book</h2>
 
 <form>

  <label>Title</label>
 
  <div class="field">

   <%= f.text_field:title %>
  
  </div>
 
  <label>Body</la>
 
  <div class="field">
 
   <%= f.text_area:body %>
  
  </div>
 
  <div class="action">
 
   <%= f.submit"Create Book"%>
  
  </div>
  
  

  <%end%>
 
 </fom>
 
</body>






