

 <h1>Books</h1>

 <table>

 <% @books.each do |book| %>


  <p>Title</p>

  <span><%= book.title %></span>


  <p>Body</p>

  <span><%= book.body %></span>

  <%end%>

 </table>



 <%= form_with model:@book, url: '/books', method: :post do |f| %>

 <h2>New book</h2>
 


  <label>Title</label>
 
  <div class="field">

   <%= f.text_field:title %>
  
  </div>
 
  <label>Body</labe>
 
  <div class="field">
 
   <%= f.text_area:body %>
  
  </div>
 
  <div class="action">
 
   <%= f.submit"Create Book"%>
  
  </div>
  
  

  <%end%>






